.weekday {
    padding: 6px 16px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
}

.navigation > button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.weeks {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 4px 0;
}

.weeks {
    margin-bottom: 10px;
    color: #94a3b8;
    font-size: 18px;
    font-weight: 700;
}

.weekday {
    text-align: center;
}

.weekday:first-child {
    color: #f87171;
}
